{% include 'base.html' with user=user %}

{% block content %}
<div id="page" class="page">
	<div class="home">
		<div class="browse-box">
			<h1>Browse Corgis</h1>
			<div class="filter">
				<form class="form-horizontal" action="{% url 'all_filter' %}" method="POST">
					<div class="form-group">
						<div class="row">
		    				<div class="col-sm-3">
		      					<select name="filter-gender" class="form-control" id="filter-gender" required>
		      						<option selected >Any gender</option>
		        					<option>Male</option>
		        					<option>Female</option>
		     					</select>
		    				</div>
		    				<div class="col-sm-4">
		      					<select name="filter-coloring" class="form-control" id="filter-coloring" required>
		      						<option selected >Any coloring</option>
		        					<option>Red</option>
	        						<option>Red-Headed Tricolor</option>
	        						<option>Black-Headed Tricolor</option>
	        						<option>Sable</option>
	        						<option>Fawn</option>
		     					</select>
		    				</div>
		    				<div class="col-sm-3">
		      					<select name="filter-state" class="form-control" id="filter-state" required>
		      						<option selected >Any state</option>
		        					<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
		     					</select>
		    				</div>
	  					</div>
					 </div>

					<div class="form-group">
						 <div class="row">
							 <div class="col-sm-3">
		      					<select name="filter-age" class="form-control" id="filter-age" required>
		      						<option selected >Greater than</option>
		        					<option>Less than</option>
		        					<option>Equal to</option>
		     					</select>
		    				</div>
							 <div class="input-group col-sm-3">
					    		<input id="filter-year" type="number" class="form-control" name="filter-year" value=0 required>
					   			<span class="input-group-addon">Years Old</span>
			  				</div>
			  			</div>
			  		</div>

			  		<div class="form-group">
			  			<div class="col-sm-offset-3 col-sm-2">
	      					<button type="submit" class="btn btn-default">Filter</button>
	    				</div>
			  		</div>
				</form>
			</div>


		    {% for corgi in corgis %}
				<div class="one-corgi">
					<div class="favorite" id="favorite{{ corgi.id }}">
            {% if corgi.id in favorites %}
            <span class="glyphicon glyphicon-heart" style="color:red;" onclick="unfavorite({{ corgi.id }})"></span>
            {% else %}
						<span class="glyphicon glyphicon-heart-empty" style="color:red;" onclick="favorite({{ corgi.id }});"></span>
            {% endif %}
					</div>
					<img src="/static/images/corgi-browse.jpg" alt="Corgi home" class="img-thumbnail" width="15%" style="margin-top:3%">
					<div class="corgi-info">
						<b>Name: </b>{{ corgi.name }}<br>
						<b>Gender: </b>{{ corgi.gender }} <br>
						<b>Age: </b>{{ corgi.age_years }} years, {{ corgi.age_months }} months <br>
						<b>Coloring: </b>{{ corgi.coloring }} <br>
						<b>Location: </b>{{ corgi.city }}, {{ corgi.state }} <br>
					</div>
					<div class="corgi-description">
						<b>Description:</b><br>{{ corgi.description }}
					</div>
				</div>
		    {% endfor %}
		</div>
	</div>
</div>

<script>

function favorite(id)
{
	var heart = document.getElementById("favorite"+id);
	heart.innerHTML = '<span class="glyphicon glyphicon-heart" style="color:red;" onclick="unfavorite('+id+')"></span>'
  console.log("ajax");
  $.post({
        url: '/favorite/',
        data: {
          corgi: id
        },
        dataType: 'json',
      });
}

function unfavorite(id)
{
	var heart = document.getElementById("favorite"+id);
	heart.innerHTML = '<span class="glyphicon glyphicon-heart-empty" style="color:red;" onclick="favorite('+id+')"></span>'
  $.post({
        url: '/favorite/',
        data: {
          corgi: id
        },
        dataType: 'json',
      });
}

</script>
{% endblock %}
