{% include 'base.html' with user=user %}

{% block content %}
<div id="page" class="page">
	<div class="home">
		<div class="home-box">
			<img src="/static/images/home-corgi.jpeg" alt="Corgi home" class="img-thumbnail" width="20%">
			<div class="home-text">
				<h1>Welcome to the Corgi Marketplace! WOW!!</h1>
				We are your one stop shop for purchasing, selling, or just looking at cute corgis. Login to get started and browse our incredible selection.
			</div>
		</div>
	</div>
</div>

<script>
browseCorgis()
{
    alert();
}
</script>
{% endblock %}
