{% extends 'base.html' %}

{% block content %}
<div id="page" class="page">
	<div class="home">
		<div class="home-box">
			<img src="/static/images/home-corgi.jpeg" alt="Corgi home" class="img-thumbnail" width="20%">
			<div class="home-text">
				<h1>Welcome to the Corgi Marketplace!</h1>
				We are your one stop shop for purchasing, selling, or just looking at cute corgis. Login to get started and browse our incredible selection.
			</div>
		</div>
	</div>
</div>

<script>
browseCorgis()
{
    alert();
}
</script>
{% endblock %}

{% block login_info %}
{% if not user.is_authenticated %}
<li><a href="{% url 'sign_up' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
{% else %}
<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
{% endif %}
{% endblock %}
