{% include 'base.html' with user=user %}

{% block content %}
<div id="page" class="page">
	<div class="home">
		<div class="list-box">
			<h1>List a Corgi</h1>
			<form class="form-horizontal" action="{% url 'list_corgi' %}" method="POST">
  				<div class="form-group">
    				<label class="control-label col-sm-3" for="name">Corgi Name:</label>
    				<div class="col-sm-4">
      					<input name="name" class="form-control" id="corgi-name" placeholder="Enter corgi name" required>
    				</div>
  				</div>
  				<div class="form-group">
    				<label class="control-label col-sm-3" for="gender">Gender:</label>
    				<div class="col-sm-4">
      					<div class="radio-inline">
  							<label><input type="radio" name="gender" checked="checked" value="Male">Male</label>
						</div>
						<div class="radio-inline">
 							 <label><input type="radio" name="gender" value="Female">Female</label>
						</div>
						
    				</div>
  				</div>
  				<div class="form-group">
  					<label class="control-label col-sm-3" for="age">Age:</label>
    				<div class="row">
    					<div class="col-sm-2">
    					  <input name="age_years" type="number" class="form-control" min="0" max="12" placeholder="Years" required>
    					  Years
    					</div>
   						<div class="col-sm-2">
      						<input name="age_months" type="number" class="form-control" min="0" placeholder="Months" required>
      						Months
    					</div>
  					</div>
  				</div>
  				<div class="form-group">
    				<label class="control-label col-sm-3" for="coloring">Coloring:</label>
    				<div class="col-sm-4">
      					<select name="coloring" class="form-control" id="corgi-coloring" required>
      						<option value="" selected disabled hidden>Select coloring</option>
        					<option>Red</option>
        					<option>Red-Headed Tricolor</option>
        					<option>Black-Headed Tricolor</option>
        					<option>Sable</option>
        					<option>Fawn</option>
     					</select>
    				</div>
  				</div>
  				<div class="form-group">
    				<label class="control-label col-sm-3" for="location">Location:</label>
    				<div class="col-sm-4">
      					<div class="row">
    						<div class="col-sm-7">
    					 		<input name="city" class="form-control" id="corgi-city" placeholder="Enter city" required>
    						</div>
   							<div class="col-sm-9">
      							<select name="state" class="form-control" id="corgi-state" required>
      								<option value="" selected disabled hidden>Select state</option>
								    <option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
      							</select>
    						</div>
  						</div>
    				</div>
  				</div>
			    <div class="form-group">
    				<label class="control-label col-sm-3" for="description">Description:</label>
    				<div class="col-sm-5">
    					<textarea name="description" class="form-control" id="corgi-description" rows="5" placeholder="Enter description"required></textarea>
    				</div>
  				</div>
  				<div class="form-group">
				    <label class="control-label col-sm-3" for="upload">Image Upload: </label>
				    <div class="col-sm-4">
				   		 <input type="file" class="form-control-file" id="exampleFormControlFile1" accept="image/png, image/jpeg, image/jpg" required>
				   	</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" for="listing">For sale?</label>
    				<div class="col-sm-3">
      					<div class="radio-inline">
  							<label><input type="radio" name="listradio" onclick="showPrice()" id="yesPrice" value="Yes">Yes</label>
						</div>
						<div class="radio-inline">
 							 <label><input type="radio" name="listradio" checked="checked" onclick="showPrice()" id="noPrice" value="No">No</label>
						</div>
    				</div>
				</div>
				<div class="form-group" style="visibility:hidden;" id="price">
					<label class="control-label col-sm-3" for="price">Price: </label>
    				<div class="col-sm-3">
      					<input name="price" value="0" type="number" class="form-control" min="0" id="priceNum" placeholder="Enter a price">
    				</div>
				</div>
				<div class="form-group" style="visibility:hidden;" id="contact">
					<label class="control-label col-sm-3" for="contact">Contact info: </label>
    				<div class="col-sm-5">
      					<textarea name="contact" class="form-control" id="corgi-contact" rows="2" placeholder="Enter contact info"></textarea>
    				</div>
				</div>
  				<div class="form-group">
    				<div class="col-sm-offset-3 col-sm-2">
      					<button type="submit" class="btn btn-default">Submit</button>
    				</div>
  				</div>
  			</form>
		</div>
		<div class="list-instruction-box">
		<h1>This is some info about listing</h1>
		hello
		</div>
	</div>
</div>

<script>
function showPrice()
{
	var yes = document.getElementById("yesPrice");
	var price = document.getElementById("price");
	var priceNum = document.getElementById("priceNum");
	var contact = document.getElementById("contact");
	var corgiContact = document.getElementById("corgi-contact");

	if(yes.checked)
	{
		price.style.visibility = 'visible';
		contact.style.visibility = 'visible';
		priceNum.setAttribute("required", "");
		corgiContact.setAttribute("required", "");
	}

	else
	{
		price.style.visibility = 'hidden';
		contact.style.visibility = 'hidden';
		priceNum.removeAttribute("required");
		corgiContact.removeAttribute("required");
	}
}
</script>
{% endblock %}
