{% include 'base.html' with user=user %}

{% block content %}
<div id="page" class="page">
	<div class="home">
		<div class="browse-box">
			<h1>Your Current Listings</h1>
			{% for listing in listings %}
				<div class="one-corgi">				
					<img src="/static/images/corgi-browse.jpg" alt="Corgi home" class="img-thumbnail" width="15%" style="margin-top:3%">
					<div class="corgi-info">
						<b>Name: </b>{{ listing.corgi.name }}<br>
						<b>Gender: </b>{{ listing.corgi.gender }} <br>
						<b>Age: </b>{{ listing.corgi.age_years }} years, {{ listing.corgi.age_months }} months <br>
						<b>Coloring: </b>{{ listing.corgi.coloring }} <br>
						<b>Location: </b>{{ listing.corgi.city }}, {{ listing.corgi.state }} <br>
						<b>Price: </b>${{ listing.price }}<br>
						<b>Contact: </b>{{ listing.contact }}
					</div>
					<div class="corgi-description">
						<b>Description:</b><br> {{ listing.corgi.description }}
					</div>
					<form class="form-horizontal" action="{% url 'close' %}" method="POST">
						<input name="corgi_id" class="form-control" id="corgi-id" value={{ listing.corgi.id }} type="hidden">
						<div class="form-group">
							<button type="submit" class="btn btn-default close-btn">Close</button>
						</div>
					</form>
				</div>
		  	{% endfor %}
		</div>
		<div class="browse-box">
			<h1>Your Favorites</h1>
		</div>
	</div>
</div>
{% endblock %}